body {
    background-color: #6D9886;
    /*background-image: linear-gradient(#96CEB4, #c9c7c7)*/
}
hr {
    border-style: dotted none none none;
    width: 8%;
    border-width: 10px;
    border-color:darkslategrey
    /*try widht: 100px - not practiced because it not flexible for tablets and computers. Recommended to use percentages */
}
h1 {
    color: red;
}
h2 {
    color: yellow;
}